name: lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  go:
    runs-on: ubuntu-22.04

    env:
      CGO_ENABLED: '0'

    steps:
    - uses: actions/checkout@v5

    - uses: actions/setup-go@v6
      with:
        go-version: "1.25"

    - uses: golangci/golangci-lint-action@v8
      with:
        version: v2.6.1

  go_mod:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v5

    - uses: actions/setup-go@v6
      with:
        go-version: "1.25"

    - run: |
        go mod tidy
        git diff --exit-code
