name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        go: ["1.14", "1.15", "1.16"]

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - run: make test-nodocker

    - if: matrix.go == '1.16'
      run: bash <(curl -s https://codecov.io/bash)
