name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        go: ["1.16", "1.17", "1.18"]

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - run: sudo apt update && sudo apt install -y libavformat-dev libswscale-dev

    - run: make test-nodocker

    - if: matrix.go == '1.18'
      run: bash <(curl -s https://codecov.io/bash)
